altgraph==0.17.4
charset-normalizer==3.4.4
importlib_metadata==8.7.0
macholib==1.16.3
packaging==25.0
pillow==11.3.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
reportlab==4.4.4
zipp==3.23.0
